<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FHN Store - Inicia Sesión </title>
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>
<body>

<header class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <h1>FakeAPI</h1>
        </div>
        <div class="nav-actions">
            <a th:href="@{/logout}" class="logout-btn">Cerrar Sesión</a>
        </div>
    </div>
</header>

<main class="login">

    <form th:action="@{/login}" method="post" class="login">
        <fieldset class="login">
            <legend>A ver si puedes comprar</legend>

            <label for="username-input">Username:</label>
            <input type="text" id="username-input" name="username" placeholder="Ingresa tu Usuario" required>
            <br>

            <label for="password-input">Password:</label>
            <input type="password" id="password-input" name="password" placeholder="C14v3*%" required>
            <br>
        </fieldset>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar mi respuesta</button>
    </form>

    <div th:if="${error}" style="color:red;">
        <p th:text="${error}"></p>
    </div>

</main>

</body>
</html>
